body {
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-color: #080007;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
    font-family: sans-serif;

}

.b-grid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
    
}
@media (min-width: 1024px) {
    .b-grid {
        display: block;
        margin: auto;
        width: 60%;
        justify-content: center;
    }
}

.b-grid img {
    width: 100px;
    margin: 1px;
    border: 3px solid #48ffc2;
    border-radius: 10px;
    background-color: aquamarine;
}
@media (min-width: 1024px) {
    .b-grid img {
        width: 100px;
        margin: 10px;
        
    }
}
.b-grid img:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
button {
    padding: 5px;
    width: 30%;
    align-self: center;
    border-radius: 30px;
}
@media (min-width: 1024px) {
    button {
        border-radius: 30px;
        width: 10%;

    }
}
h3 {
    color: antiquewhite;
}